#Common
.env
.DS_STORE
.idea
*.log

# Traefik
traefik/ssl
traefik/logs
traefik/localCerts
traefik/dynamic/local-tls.yml

# mkcert
mkcert/data

# Portainer
portainer/data

# Minecraft
minecraft/data
minecraft/backups
minecraft/plugins

# Homarr
homarr/configs
homarr/data

# Wireguard
wireguard/config

# Pi-hole
pihole/etc-pihole
pihole/etc-dnsmasq.d

# Hyperion
hyperion/config

# HyperHDR
hyperhdr/config

# Media server
media-server/data
media-server/qbittorrent/config
media-server/jellyfin/config
media-server/prowlarr/config
media-server/radarr/config
media-server/sonarr/config
